<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="https://www.tymeleaf.org">
    <head>
        <title>Lomichis</title>
        <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <!-- nav --->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <img th:src="@{/images/logo/lomichis-logo-light.svg}" width="50" height="50" alt="">
                <a class="navbar-brand" href="#">LOMICHIS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="home.html" data-th-href="@{/home}">Home
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Servicios</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownInfo" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Nosotros
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownInfo">
                                <a class="dropdown-item" href="about.html" data-th-href="@{/about}">Lomichis Info</a>
                                <a class="dropdown-item" href="contact.html" data-th-href="@{/contact}">Contactanos</a>
                                <a class="dropdown-item" href="faq.html" data-th-href="@{/faq}">FAQ</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Buzon ?</a>
                            </div>
                        </li>        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuIngresar" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Ingresar
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuIngresar">
                                <a class="dropdown-item" href="signin.html" data-th-href="@{/signin}">Registrarse</a>
                                <a class="dropdown-item" href="login.html" data-th-href="@{/login}">Iniciar sesion</a>
                                <a class="dropdown-item" href="resetpassword.html" data-th-href="@{/resetpassword}">Recuperar contrasena</a>
                            </div>
                        </li>

                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-sm-2" type="text" placeholder="Search">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
        <!-- end nav -->

        <div class="container-fluid p-4">
            <div class="row">
                <div class="">

                    <div class="d-flex align-items-center justify-content-center">
                        <div>                        
                            <div class="">
                                <div class="d-flex align-items-center">

                                    <div class="row mt-4 d-inline-block col-6">

                                        <div class="col-sm">
                                            <div class="card-header bg-dark text-light">
                                                <div class="div d-flex align-items-baseline">
                                                    <div class="col-sm d-inline-block">
                                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp" alt="..." class="img-thumbnail rounded-circle" style="height: 40px; width: 40px;"></div>
                                                    <div class="col-sm d-inline-block"><p class="" th:text="'Mascota de Claudia.'"></p></div>
                                                </div>  
                                            </div>
                                            <div class="card-body">
                                                <img
                                                    th:src="@{/images/others/claudia.jpg}"
                                                    class="w-100 shadow-1-strong rounded"
                                                    alt="Blondie" style="height: auto; width: auto;"
                                                    />
                                            </div>

                                        </div> 


                                    </div>

                                    <div class="row mt-4 d-inline-block col-6 d-flex h-100 ">

                                        <div class="d-block d-flex h-100 align-top"> 
                                            <div class="card-body bg-secondary">


                                                <h1 class="card-title"  th:text="'Un gato'"></h1>
                                                <p th:text="'Blondie'"></p>
                                                <div class="d-flex justify-content-between"><small class="text-muted"  th:text="'El 05-06-2022'"></small><small>Visto por: <strong><i class="bi bi-eye"></i> 100000000</strong></small></div>


                                            </div>

                                        </div> 


                                    </div>                                        

                                </div>

                            </div> 

                        </div>
                    </div>
                    <!-- comment -->
                </div>
                <!-- Content here -->
            </div>


            <div class="container-fluid mt-4">
                <div class="row"> 
                </div>            
            </div>



            <!-- Footer -->
            <footer class="page-footer font-small bg-dark text-light">


                <!-- Footer Links -->
                <div class="container text-center text-md-left">

                    <!-- Grid row-->
                    <div class="row">
                        <div class='row m-3'></div>
                        <div class="col-sm">
                        </div>
                        <div class="col-sm d-flex align-items-center">
                            <div class="col-sm ">
                                <a> <i class="bi bi-facebook fa-2x"></i> </a>
                            </div>
                            <div class="col-sm">
                                <a> <i class="bi bi-twitter fa-2x"></i> </a>
                            </div>
                            <div class="col-sm">
                                <a> <i class="bi bi-google fa-2x"></i> </a>
                            </div>
                            <div class="col-sm">
                                <a> <i class="bi bi-linkedin fa-2x"></i> </a>
                            </div>
                            <div class="col-sm">
                                <a> <i class="bi bi-instagram fa-2x"></i> </a>
                            </div>             
                            <div class="col-sm">
                                <a> <i class="bi bi-pinterest fa-2x"></i> </a>
                            </div> 
                        </div>
                        <div class="col-sm">
                        </div>


                    </div>
                    <!-- Grid row-->

                </div>
                <!-- Footer Elements -->

                <!-- Copyright -->
                <div class="footer-copyright text-center text-light py-3">© 2020 Copyright:
                    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
                </div>
                <!-- Copyright -->

            </footer>
            <!-- Footer -->

            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
    </body>


</html>
