<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="https://www.tymeleaf.org">
    <head>
        <title>Lomichis</title>
        <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <!-- nav --->

        <nav data-th-replace="nav"></nav>
        <!-- end nav -->

        <!-- Jumbotron -->
        <div class="card card-image" style="background-image: url(https://mdbcdn.b-cdn.net/img/Photos/Others/forest2.webp);">
            <div class="text-white text-center rgba-stylish-strong py-5 px-4">
                <div class="py-5">

                    <!-- Content -->
                    <h5 class="h5 orange-text"><i class="fas fa-camera-retro"></i> LOMICHIS</h5>
                    <h2 class="card-title h2 my-4 py-2" th:text="'En lomichis nos preocupa el bienestar de tus mascotas'"></h2>
                    <p class="mb-4 pb-2 px-md-5 mx-md-5" th:text="'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur obcaecati vero aliquid libero doloribus ad, unde tempora maiores, ullam, modi qui quidem minima debitis perferendis vitae cumque et quo impedit.'"></p>
                    <a class="btn peach-gradient"><i class="fas fa-clone left"></i> View project</a>

                </div>
            </div>
        </div>
        <!-- Jumbotron -->  
        <div class="container-fluid p-4">
            <div class="row border border-secondary">
                <div class="row">
                    <div class="col-sm"> </div>
                    <div class="col-sm text-center">
                        <h1 align='center p-4' th:text="'Bienvenido'"></h1>
                        <p class="text-muted" th:text="'Selecciona una categoria'"></p>
                    </div>
                    <div class="col-sm"> </div>
                </div>        
                <div class="row p-3 d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                        
                        <!-- copiar elemento, agregar foto de tu animal favorito y la url al controlador de tu pagina -->
                        <div class="d-inline-block">
                            <div class="p-2">
                                <img class="card-img-top rounded" th:src="@{/images/others/felipe.jpeg}" alt="Card image cap" style="max-height: 500px">
                                <div class=" text-center mt-2">
                                    <a data-th-href="@{/felipe}" class="btn btn-primary justify-content-center" >Gato de felipe</a>
                                </div>
                            </div>
                        </div>
                        <!-- Fin de elemento -->


                        <!-- copiar elemento, agregar foto de tu animal favorito y la url al controlador de tu pagina -->
                        <div class="d-inline-block">
                            <div class="p-2">
                                <img class="card-img-top rounded" th:src="@{/images/others/jorge.jpeg}" alt="Card image cap" style="max-height: 500px">
                                <div class=" text-center mt-2">
                                    <a data-th-href="@{/jorge}" class="btn btn-primary justify-content-center" >Perro de Jorge</a>
                                </div>
                            </div>
                        </div>
                        <!-- Fin de elemento -->


                        <!-- copiar elemento, agregar foto de tu animal favorito y la url al controlador de tu pagina -->
                        <div class="d-inline-block">
                            <div class="p-2">
                                <img class="card-img-top rounded" th:src="@{/images/others/Brayan.jpeg}" alt="Card image cap" style="max-height: 500px">
                                <div class=" text-center mt-2">
                                    <a data-th-href="@{/brayan}" class="btn btn-primary justify-content-center" >Perro de Brayan</a>
                                </div>
                            </div>
                        </div>
                        <!-- Fin de elemento -->
                        
                       
                        
                        <!-- copiar elemento, agregar foto de tu animal favorito y la url al controlador de tu pagina -->
                        <div class="d-inline-block">
                            <div class="p-2">
                                <img class="card-img-top rounded" th:src="@{/images/others/Claudia.jpg}" alt="Card image cap" style="max-height: 500px">
                                <div class=" text-center mt-2">
                                    <a data-th-href="@{/claudia}" class="btn btn-primary justify-content-center" >Gato de claudia</a>
                                </div>
                            </div>
                        </div>
                        <!-- Fin de elemento -->
                        
                          <!-- copiar elemento, agregar foto de tu animal favorito y la url al controlador de tu pagina -->
                        <div class="d-inline-block">
                            <div class="p-2">
                                <img class="card-img-top rounded" th:src="@{/images/others/Denisse.jpg}" alt="Card image cap" style="max-height: 500px">
                                <div class=" text-center mt-2">
                                    <a data-th-href="@{/denisse}" class="btn btn-primary justify-content-center" >Gato de Denisse</a>
                                </div>
                            </div>
                        </div>
                        <!-- Fin de elemento -->
                        
                    </div>                    
                </div>
            </div>
        </div>





        <div class="container-fluid p-4">
            <div class="row">
                <div class="d-flex flex-row">
                    <!-- Gallery -->
                    <div class="row">
                        <div class="row">
                            <div class="row">
                                <div class="col-sm"> </div>
                                <div class="col-sm text-center">
                                    <h1 align='center p-4' th:text="'PetGallery'"></h1>
                                    <p class="text-muted" th:text="'Comparte las fotos mas divertidas de tu mascota en lomichis'"></p>
                                </div>
                                <div class="col-sm"> </div>
                            </div>                            
                        </div>

                        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                            <img
                                src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
                                class="w-100 shadow-1-strong rounded mb-4"
                                alt="Boat on Calm Water"
                                />

                            <img
                                src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain1.webp"
                                class="w-100 shadow-1-strong rounded mb-4"
                                alt="Wintry Mountain Landscape"
                                />
                        </div>

                        <div class="col-lg-4 mb-4 mb-lg-0">
                            <img
                                src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain2.webp"
                                class="w-100 shadow-1-strong rounded mb-4"
                                alt="Mountains in the Clouds"
                                />

                            <img
                                src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
                                class="w-100 shadow-1-strong rounded mb-4"
                                alt="Boat on Calm Water"
                                />
                        </div>

                        <div class="col-lg-4 mb-4 mb-lg-0">
                            <img
                                src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(18).webp"
                                class="w-100 shadow-1-strong rounded mb-4"
                                alt="Waves at Sea"
                                />

                            <img
                                src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain3.webp"
                                class="w-100 shadow-1-strong rounded mb-4"
                                alt="Yosemite National Park"
                                />
                        </div>
                    </div>
                    <!-- Gallery -->
                </div>


            </div>
            <!-- Content here -->
        </div>




        
        <!-- Footer -->
        <footer class="page-footer font-small bg-dark text-light">


            <!-- Footer Links -->
            <div class="container text-center text-md-left">

                <!-- Grid row-->
                <div class="row">
                    <div class='row m-3'></div>
                    <div class="col-sm">
                    </div>
                    <div class="col-sm d-flex align-items-center">
                        <div class="col-sm ">
                            <a> <i class="bi bi-facebook fa-2x"></i> </a>
                        </div>
                        <div class="col-sm">
                            <a> <i class="bi bi-twitter fa-2x"></i> </a>
                        </div>
                        <div class="col-sm">
                            <a> <i class="bi bi-google fa-2x"></i> </a>
                        </div>
                        <div class="col-sm">
                            <a> <i class="bi bi-linkedin fa-2x"></i> </a>
                        </div>
                        <div class="col-sm">
                            <a> <i class="bi bi-instagram fa-2x"></i> </a>
                        </div>             
                        <div class="col-sm">
                            <a> <i class="bi bi-pinterest fa-2x"></i> </a>
                        </div> 
                    </div>
                    <div class="col-sm">
                    </div>


                </div>
                <!-- Grid row-->

            </div>
            <!-- Footer Elements -->

            <!-- Copyright -->
            <div class="footer-copyright text-center text-light py-3">© 2020 Copyright:
                <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
            </div>
            <!-- Copyright -->

        </footer>
        <!-- Footer -->

        <div data-th-replace="foot">

        </div>
    </body>


</html>
