    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <img th:src="@{/images/logo/lomichis-logo-light.svg}" width="50" height="50" alt="">
                <a class="navbar-brand" href="#">LOMICHIS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="home.html" data-th-href="@{/home}">Home
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Servicios</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownInfo" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Nosotros
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownInfo">
                                <a class="dropdown-item" href="about.html" data-th-href="@{/about}">Lomichis Info</a>
                                <a class="dropdown-item" href="contact.html" data-th-href="@{/contact}">Contactanos</a>
                                <a class="dropdown-item" href="faq.html" data-th-href="@{/faq}">FAQ</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Buzon ?</a>
                            </div>
                        </li>        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuIngresar" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Ingresar
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuIngresar">
                                <a class="dropdown-item" href="signin.html" data-th-href="@{/signin}">Registrarse</a>
                                <a class="dropdown-item" href="login.html" data-th-href="@{/login}">Iniciar sesion</a>
                                <a class="dropdown-item" href="resetpassword.html" data-th-href="@{/resetpassword}">Recuperar contrasena</a>
                            </div>
                        </li>

                    </ul>
                    <div class="d-flex"> 
                        <input name="busqueda" id="busqueda" class="form-control me-sm-2" type="text" placeholder="Search">
                        <button onclick="buscar()" class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </div>
                </div>
                <script type="text/javascript">
                    function buscar(){
    		
    		let busqueda = document.getElementById("busqueda").value; //recuperamos nuestro parametro de busqueda
    		$.ajax({
				"url"     :"https://www.googleapis.com/customsearch/v1?key=AIzaSyAab_E8ievLdqgiD4Hln5q9GuBLuvJtr5M&cx=edb51477a30fde6a7&q="+busqueda, //realizamos una peticion por medio de ajax, los 3 parametros obligatorios que se pasan por la url son: key: la api key del proyecto, que se obtiene en nuestro perfil de desarrolladores de google, cx: el id de nuestro motor, 1: el parametro de busqueda
				"dataType"     : "json",
				"success"      : function( response ) {
                                        
					$('#respuesta').addClass('m-md-5');
					$('#respuesta').html('');
					console.log(response);
					if(response.searchInformation.totalResults>0){
						for (let i = 0; i < response.items.length; i++) {
		    	    	    let item = response.items[i];
		        	    	let content = "";
				            content += "<div class='gs-webResult gs-result'>" +
				                "<table class='gsc-table-result'><tbody><tr>";
		            		//Thumbnail image
				            if (item.pagemap.cse_thumbnail != null)
				                content += "<td class='gsc-table-cell-thumbnail gsc-thumbnail'><div class='gs-image-box gs-web-image-box gs-web-image-box-portrait'><a class='gs-image' href='" + item.link + "'>" +
		        		            "<img class='gs-image' class = 'gs-image-box gs-web-image-box gs-web-image-box-portrait' src='" + item.pagemap.cse_thumbnail[0].src + "'></a></td>";
					            //Link
					        content += "<td><a class='gs-title' href='" + item.link + "'>" + item.htmlTitle + "</a><br/>";
				            //File format for PDF, etc.
				            if (item.fileFormat != null)
				                content += "<div class='gs-fileFormat'><span class='gs-fileFormat'>File Format: </span><span class='gs-fileFormatType'>" + item.fileFormat + "</span></div>";
		            		//description text and URL text.
				            content += item.htmlSnippet.replace('<br>','') + "<br/><div class='gs-bidi-start-align gs-visibleUrl gs-visibleUrl-long' dir='ltr' style='word-break:break-all;'>" + item.htmlFormattedUrl +"</div>" +
				                "<br/></td></tr></tbody></table></div>";
				            document.getElementById("respuesta").innerHTML += content;
						}
					}else{

						let content = "No se encontraron resultados";
						document.getElementById("respuesta").innerHTML += content;
					}
				}
			});
		}
                </script>    
        </nav>

        <div id="respuesta">

        </div>